label.counter_label {
    font-weight: 700;
	font-size: 2rem;
}
.my-button {
    border: solid rgb(162, 155, 155) 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.bordered {
    border: solid rgb(162, 155, 155) 2px;
    border-radius: 8px;
}